.gamesListItem {
	padding: 1.5rem;
	list-style: none;
	transition: background-color 0.3s;
	a {
		text-decoration: none;
		color: inherit;
	}
	.container {
		height: 65px;
		display: grid;
		align-items: center;
		grid-template-columns: 25% 1fr;
		grid-column-gap: 2rem;

		.image {
			position: relative;
			height: 100%;
			max-height: 65px;
			source,
			img {
				width: 100%;
				height: 100%;
				border-radius: 3px;
				object-fit: cover;
			}
			.buttonContainer {
				display: none;
				height: 45px;
				width: 45px;
				position: absolute;
				top: -10px;
				right: -5px;
				opacity: 0;
			}
		}
		.info {
			grid-column: 2/3;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			.title {
				font-weight: 700;
			}
			.price {
				font-size: 1.2rem;
				text-transform: uppercase;
			}
		}
	}
	&:hover {
		background-color: rgba(255, 255, 255, 0.1);
		border-radius: 5px;
		.container {
			.buttonContainer {
				opacity: 1;
			}
		}
	}
	// MEDIA QUERIES
}

@media (width >= 768px) {
	.gamesListItem {
		.container {
			.image {
				.buttonContainer {
					display: block;
				}
			}
		}
	}
}

@media (width >= 1100px) {
	.gamesListItem {
		padding: 1.5rem 2rem;
		.container {
			height: 100px;
			grid-column-gap: 3rem;
			.image {
				max-height: 100px;
			}
		}
	}
}

@media (width >= 1600px) {
	.gamesListItem {
		padding: 2rem 3rem;
		.container {
			height: 130px;
			.image {
				max-height: 130px;
			}
		}
	}
}
