.genreListItem {
    padding: 1.5rem;
    background-color: var(--grey-color);
    border-radius: 5px;
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
	.imageSection {
		.image {
			source,
			img {
				height: 70px;
				width: 100px;
				object-fit: cover;
			}
		}
	}
    .title {
        font-size: 1.6rem;
        font-weight: 700;
        text-align: center;
    }
}
