.actionsBar {
	position: sticky;
	top: 0;
	height: 10rem;
	width: min(90%, 1600px);
	margin-inline: auto;
	display: flex;
	align-items: center;
	background-color: var(--black-color);
	z-index: 100;
	// button {
	// 	padding: 1rem;
	// 	font-size: 1.4rem;
	// 	font-weight: 700;
	// 	background-color: inherit;
	// 	color: inherit;
	// 	border: none;
	// 	cursor: pointer;
	// }

	svg {
		font-size: 1.6rem;
	}

	.searchButton,
	.closeButton {
		padding: 1rem;
		margin-inline: 1rem;
		font-size: 1.4rem;
		font-weight: 700;
		background-color: inherit;
		color: inherit;
		border: none;
		cursor: pointer;
		&:focus {
			color: var(--hover-color);
			// outline: none;
		}
	}

	.searchBarSmall {
		flex-basis: 20%;

		.searchPanel {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: #202020;
			z-index: 100;
			button {
				text-align: center;
				color: var(--hover-color);
				flex-basis: 10%;
				font-size: 1.4rem;
			}
		}
	}

	.searchBarLarge {
		height: 40px;
		width: 100%;
		background-color: var(--grey-color);
		border-radius: 24px;
		flex-basis: 20%;
		.searchBarContainer {
			height: 100%;
			display: flex;
			align-items: center;
			svg {
				font-size: 1rem;
			}
		}
	}

	.searchInput {
		border: none;
		background-color: inherit;
		outline: none;
		color: var(--font-color);
		font-size: 1.4rem;
		line-height: 2rem;
		flex-basis: 80%;
	}

	.mainBar {
		// text-align: center;
		// width: 100px;
		// margin: 0auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-basis: 60%;
		// .listButton {
		// 	display: flex;
		// 	gap: 0.5rem;
		// svg {
		// 	font-size: 1.2rem;
		// }
		// .transformOpen {
		// 	transform: rotate(-180deg);
		// 	transition: transform 0.2s;
		// }
		// .transformClose {
		// 	transform: rotate(0deg);
		// 	transition: transform 0.2s;
		// }
		// }
	}
	.rightBar {
		flex-basis: 20%;
		display: flex;
		justify-content: flex-end;
		gap: 1.5rem;

		.link {
			text-decoration: none;
			padding: 1rem;
			color: var(--font-color);
			display: flex;
			gap: 1rem;
			align-items: center;
			cursor: pointer;
			transition: color 0.2s;
			&:hover,
			&.active {
				color: var(--hover-color);
			}
			.badge {
				// display: none;
				width: 30px;
				// width: 0%;
				height: 20px;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 1.4rem;
				font-weight: 700;
				color: var(--black-color);
				background-color: #fff;
				border-radius: 20px;
				overflow: hidden;
				// span {
				// 	color: orangered;
				// }
			}
			.show {
				animation: show 0.3s forwards;
			}

			.hide {
				animation: hide 0.3s forwards;
			}

			.increase {
				span {
					animation: moveNumber 1s 0.1s ease-in-out;
				}
			}

			.decrease {
				span {
					animation: moveNumber 1s 0.1s reverse ease-in-out;
				}
			}
		}
	}

	.actionNav {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding: 2.5rem 3rem;
		background-color: inherit;
		.actionList {
			list-style: none;
			display: flex;
			flex-direction: column;
			gap: 2rem;
			li {
				transition: color 0.2s;
				display: flex;
				cursor: pointer;
				&:not(:last-child) {
					border-bottom: 1px solid var(--border-color);
				}
				&:hover,
				a.active {
					color: var(--hover-color);
				}
				a {
					min-width: 100%;
					padding: 2rem 0;
					text-decoration: none;
					color: inherit;
				}
			}
		}
	}

	// MEDIA QUERIES

	@media (width >= 1024px) {
		.mainBar {
			padding-left: 2rem;
			justify-content: start;
		}
		.actionNav {
			width: 180px;
			left: calc(20% + 2rem);
			margin-top: -1.5rem;
			padding: 1rem 2rem;
			background-color: var(--grey-color);
			border-radius: 7px;

			.actionList {
				gap: 0;
				li {
					&:not(:last-child) {
						border-bottom: none;
					}
					a {
						padding: 1rem 0;
					}
				}
			}
		}
	}

	@media (width >= 1280px) {
		.mainBar {
			.actionNav {
				position: relative;
				width: 100%;
				left: 0;
				margin-top: 0;
				padding: 0;
				background-color: inherit;
				.actionList {
					flex-direction: row;
					gap: 1rem;
					a {
						padding: 1rem 1.5rem;
					}
				}
			}
		}
	}
}


@keyframes show {
	0% {
		// display: none;
		width: 0px;
	}

	100% {
		// display: block;
		width: 30px;
	}
}

@keyframes hide {
	0% {
		width: 30px;
	}

	100% {
		width: 0;
	}
}

@keyframes moveNumber {
	0% {
		transform: translateY(0%);
	}

	30% {
		transform: translateY(-85%);
		opacity: 0;
	}

	
	40% {
		opacity: 0;
	}

	60% {
		opacity: 0;
	}
	71% {
		opacity: 1;
		transform: translateY(85%);
	}

	90% {
		transform: translateY(0%);
	}

	100% {
		transform: translate(0%, 0%);
	}
}