.asideFilters {
	position: fixed;
	display: none;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 1000;
	background-color: var(--black-color);
	top: 0rem;
	right: 0;
	&.show {
		display: flex;
	}
	& > :first-child {
		margin: 2rem 3rem;
		height: 38px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 700;

		.resetButton {
			display: block;
			padding: 1rem 1.5rem;
			background-color: inherit;
			border: none;
			color: currentColor;
			font-size: 1rem;
			text-transform: uppercase;
			cursor: pointer;
		}
	}

	.filterTypeContainer {
		padding: 0.5rem 2rem;
		height: 60px;
		border-top: 1px solid var(--border-color);
	}

	.listItem {
		padding: 1rem 5rem;
		margin-bottom: 0.5rem;
		opacity: 0.6;
		list-style: none;
		cursor: pointer;
		transition: all 0.3s;
		border-radius: 3px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		svg {
			display: none;
		}
		&.selected {
			background-color: var(--grey-color);
			color: var(--font-white);
			opacity: 1;
			svg {
				display: block;
			}
		}

		&:hover {
			color: var(--hover-color);
			opacity: 1;
		}
		&:focus {
			border: 1px solid white;
		}
	}
	.buttonsContainer {
		padding: 1.5rem 2.5rem;
		margin-top: auto;
		display: flex;
		justify-content: space-between;
		background-color: var(--grey-color);
		.clearButton {
			flex-grow: 2;
			width: 100%;
			background-color: inherit;
			color: currentColor;
			border: none;
			text-transform: uppercase;
			font-size: 1rem;
			cursor: pointer;
		}
		.applyButton {
			height: 50px;
			width: 100%;
			font-size: 1rem;
			text-transform: uppercase;
			border: none;
			border-radius: 5px;
			transition: background-color 0.3s;
			font-weight: 500;
			background-color: var(--blue-color);
			color: var(--font-white);

			cursor: pointer;
			z-index: 10;

			&:hover {
				background-color: var(--blue-hover);
			}
			&:disabled {
				opacity: 0.5;

				cursor: not-allowed;
			}
		}
	}

	// Media Queries

	@media (width >= 770px) {
		width: 45%;
	}

	@media (width >= 1024px) {
		display: flex;
		position: relative;
		width: 245px;
		max-height: none;
		// overflow: none;
		flex-shrink: 0;
		z-index: 1;
		& > :first-child {
			margin: 0 0 2rem 1rem;
		}

		.filterTypeContainer {
			padding: 0;
		}
		.listItem {
			padding: 1rem 3rem;
		}
		.buttonsContainer {
			display: none;
		}
	}
}
