.header {
	position: relative;
	height: 5rem;
	background-color: var(--grey-color);
	display: flex;
	justify-content: space-between;
	.navbar {
		position: absolute;
		top: 5rem;
		right: 0;
		height: calc(100vh - 5rem);
		width: 0;
		background-color: var(--grey-color);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		transition: width .2s;
		z-index: 1000;
		overflow: hidden;

		.leftNav {
			display: flex;
			flex-direction: column;

			.listItem {
				border-bottom: 1px solid var(--border-color);
			}
		}

		.listItem {
			list-style: none;

			a {
				padding: 1rem 3rem;
				display: block;
				height: 100%;
				line-height: 2.2rem;
				text-transform: uppercase;
				text-decoration: none;
				color: inherit;
				cursor: pointer;
			}
		}

		.rightNav {
			.listItem {
				height: 5rem;
				display: flex;
				justify-content: center;
				align-items: center;
				text-transform: uppercase;
				background-color: var(--grey-color);
			}

			.profile {
				background-color: var(--blue-color);
				div,
				a {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 0.5rem;
				}
				.icon {
					margin-bottom: 0.5rem;
					font-size: 1.6rem;
					transition: color 0.4s;
				}
			}
			.logoutButton {
				cursor: pointer;
				&:hover {
					color: var(--hover-color);
				}
				button {
					height: 100%;
					background-color: inherit;
					border: none;
					color: currentColor;
					text-transform: uppercase;
					cursor: pointer;
				}
			}
		}
	}

	// MEDIA QUERIES

	@media (width >=800px) {
		.navbar {
			display: flex;
			position: relative;
			top: 0;
			right: 0;
			height: 100%;
			width: 100%;
			font-size: 1.2rem;
			flex-direction: row;
			transform: translateX(0);
			visibility: visible;

			.listItem {
				position: relative;
				height: 5rem;
				border-bottom: none;
				a {
					display: flex;
					align-items: center;
					padding: 0rem 2rem;
				}
			}

			.leftNav {
				flex-direction: row;
				a {
					&::before {
						content: '';
						display: block;
						position: absolute;
						left: 0;
						bottom: -1px;
						height: 0px;
						width: 100%;
						background-color: var(--blue-color);
						transition: height 0.2s ease-in-out;
					}
					&:hover,
					&.active,
					&:focus {
						color: var(--hover-color);
						outline: none;
						&::before {
							height: 5px;
						}
					}
				}
			}

			.rightNav {
				min-width: 125px;
				width: fit-content;
				height: auto;
				display: flex;
				flex-direction: column;

				.listItem {
					width: 100%;
					height: 5rem;
					padding: 0 1rem;
				}
				.profile {
					gap: 0.5rem;
					transition: all 0.2s;
					cursor: pointer;
					&:hover {
						color: var(--hover-color);
						background-color: var(--blue-hover);
						.icon {
							color: var(--hover-color);
						}
					}
				}
			}
		}
	}

	// BURGER MENU

	.menu {
		margin-left: auto;

		padding: 0 1rem;

		background-color: var(--blue-color);
		width: 58px;
		cursor: pointer;
		&:before,
		&:after,
		& div {
			content: '';
			position: relative;
			display: block;
			height: 2px;
			background: #fff;
			border-radius: 2px;
			margin: 10.5px 0;
			transition: 0.5s;
		}
		&::before {
			top: 3px;
		}
		&::after {
			top: -3px;
		}

		@media (width >= 800px) {
			display: none;
		}
	}
	.menu.close {
		background-color: #252525;
		&:before {
			transform: translateY(9px) rotate(-45deg);
		}
		&:after {
			transform: translateY(-10px) rotate(45deg);
		}
		& div {
			transform: scale(0);
		}
	}

	.navbar.open {
		width: calc(100vw - 4.5rem);
	}
}
