.cardsContainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 1rem;
	grid-row-gap: 1.5rem;
	@media (width >= 770px) {
		grid-template-columns: repeat(4, 1fr);
	}

	.mainContent {
		.list {
			flex-grow: 1;
		}
	}
}

@media (width >= 1024px) {
	.mainContent {
		display: flex;
		gap: 3rem;
	}
}