.titleContainer {
	margin-bottom: 2rem;
	top: 0;
	left: 0;
	height: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.arrowNagination {
		height: 30px;
		width: 70px;
		display: flex;
		justify-content: space-between;
		cursor: pointer;
		.arrow {
			height: 30px;
			width: 30px;
			background-color: var(--grey-color);
			color: var(--font-white);
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			transition: all 0.3s;
			z-index: 1;
			&:hover {
				filter: brightness(1.5);
			}
			&.active {
				border: 1px solid var(--hover-color);
			}
		}
	}
}

.genreCards {
	margin-top: 100px;
	list-style: none;
	display: flex;
	gap: min(5%, 2rem);
	overflow: hidden;
}
