.cartSection {
	margin: 4rem 0;

	.gameList {
		display: flex;
		flex-direction: column;
		gap: 3rem;

		.summary {
			color: var(--font-white);
			display: flex;
			flex-direction: column;
			gap: 2rem;
			div {
				display: flex;
				justify-content: space-between;
				&:last-of-type {
					padding-top: 2rem;
					border-top: 1px solid var(--border-color);
					font-weight: bold;
				}
			}
			
		}
	}

	.emptyList {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		gap: 3.5rem;
		line-height: 5rem;

		.emptyIcon {
			font-size: 6rem;
			color: var(--blue-color);
			border-radius: 50%;
			transform: rotate(-15deg);
		}
		.text {
			text-align: center;
			font-size: 5rem;
			color: white;
		}

		.link {
			padding: 0.5rem 1rem;
			color: #868686;
			font-size: 2.6rem;
			border-bottom: 1px;
			transition: color 0.3s;
			&:hover {
				color: white;
			}
		}
	}
	@media (width >= 1024px) {
		.gameList {
			flex-direction: row;
			justify-content: space-between;
			.list {
				flex-grow: 1;
			}
			.summary {
				width: 245px;
			}
		}
	}
}
