.wishlistSection {
	margin: 4rem 0;
	display: grid;
	grid-row-gap: 3rem;
	.notificationSwitch {
		padding: 1.5rem;
		min-height: 70px;
		display: flex;
		gap: 2.5rem;
		justify-content: space-between;
		align-items: center;
		border-radius: 5px;
		background-color: var(--grey-color);

		.flexContainer {
			display: flex;
			justify-content: space-between;
			gap: 2rem;
			align-items: center;
			.icon {
				margin-left: 0.5rem;
				font-size: 2rem;
			}
			.tooltip {
				position: relative;
				font-size: 1.5rem;
				display: flex;
				cursor: help;
				.tooltipText {
					display: none;
					position: absolute;
					width: 260px;
					top: -70px;
					left: -105px;
					padding: 1rem 2rem;
					font-size: 1.2rem;
					line-height: 1.5rem;
					border-radius: 7px;
					background-color: #202020;
					box-shadow: 2px 2px 2px #191919;
				}
				&:hover .tooltipText {
					display: block;
				}
			}
		}

		.paragraph {
			opacity: 0.6;
		}

		.switch {
			position: relative;
			display: inline-block;
			width: 36px;
			height: 21px;
			input {
				display: none;
			}
			.slider {
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #ccc;
				border-radius: 34px;
				transition: 0.4s;
				&::before {
					position: absolute;
					content: '';
					height: 15px;
					width: 15px;
					left: 2px;
					bottom: 2.52px;
					background-color: white;
					border-radius: 50%;
					transition: 0.4s;
				}
			}

			input:checked + .slider {
				background-color: #11cf59;
			}

			input:focus + .slider {
				box-shadow: 0 0 1px #11cf59;
			}

			input:checked + .slider:before {
				transform: translateX(17px);
			}
		}
	}
	.mainContent {
		// display: flex;
		// gap: 3rem;
		.list {
			flex-grow: 1;

			// .sortList {
			// 	margin-bottom: 2rem;
			// 	position: relative;
			// 	display: flex;
			// 	align-items: center;
			// 	gap: 1rem;
			// 	.span {
			// 		opacity: 0.6;
			// 	}
			// 	ul {
			// 		position: absolute;
			// 		top: 45px;
			// 		left: 63px;
			// 		padding: 1rem 0;
			// 		list-style: none;
			// 		border-radius: 5px;
			// 		background-color: var(--grey-color);
			// 		z-index: 5;
			// 		li {
			// 			padding: 0.5rem 2rem;
			// 			color: var(--font-white);
			// 			transition: background-color 0.1s;
			// 			cursor: pointer;
			// 			&:hover,
			// 			&.active,
			// 			&:focus {
			// 				background-color: #ffffff1a;
			// 			}
			// 		}
			// 	}
				// .filterHeader {
				// 	margin-left: auto;
				// 	margin-right: -2.5rem;
				// 	padding: 1rem 2rem;
				// 	background-color: inherit;
				// 	border: none;
				// 	color: inherit;
				// 	font-weight: 700;
				// 	cursor: pointer;
				// 	display: flex;
				// 	align-items: center;
				// 	gap: 1rem;
				// 	.menuIcon {
				// 		width: 30px;
				// 		height: 15px;
				// 		display: flex;
				// 		flex-direction: column;
				// 		justify-content: space-evenly;
				// 		cursor: pointer;
				// 		.line {
				// 			align-self: center;
				// 			height: 1.5px;
				// 			background-color: currentColor;
				// 		}
				// 		.top {
				// 			width: 60%;
				// 		}
				// 		.middle {
				// 			width: 40%;
				// 		}
				// 		.bottom {
				// 			width: 20%;
				// 		}
				// 	}
				// }
			// }
		}
	}
}

@media (width >= 1024px) {
	.mainContent {
		display: flex;
		justify-content: space-between;
		gap: 3rem;
	}
}
