.desktopCarousel {
	position: relative;
	min-height: 320px;
	height: 35vw;
	max-height: 740px;
	margin-top: 3rem;
	display: flex;
	justify-content: space-between;
	
	.leftSide {
		height: 100%;
		width: 100%;
		position: relative;
		cursor: pointer;
		

		&::before {
			content: '';
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			border-radius: 20px;
			background-image: linear-gradient(
				to right,
				rgba(0, 0, 0, 0.4),
				transparent
			);
			z-index: 1;
		}
		.picture {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			source,
			img {
				object-fit: cover;
				height: 100%;
				width: 100%;
				border-radius: 20px;
			}
		}

		.gameDescription {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 2rem;
			color: var(--font-white);
			display: flex;
			flex-direction: column;
			gap: 1rem;
			z-index: 2;

			.buttonsContainer {
				display: flex;
				gap: 1rem;
				.buyButton,
				.wishlistButtonContainer {
					height: 50px;
					width: 140px;
					font-size: 1rem;
					text-transform: uppercase;
					border: none;
					border-radius: 5px;
					cursor: pointer;
					transition: background-color 0.3s;
				}
				.buyButton {
					padding: 0rem 4.5rem;
					font-weight: 500;
					&:hover {
						background-color: rgba(255, 255, 255, 0.8);
					}
				}
				.wishlistButtonContainer {
					display: flex;
					align-items: center;
					background-color: transparent;
					color: inherit;
					
					
					p {
						margin-left: -9.5rem;
						
					}
					
					&:hover {
						background-color: rgba(245, 245, 245, 0.2);
					}
				}
			}
		}
	}
	.rightSide {
		width: 22%;
		.desktopCarouselList {
			position: relative;
			height: 100%;
			width: 100%;
			display: flex;
			flex-direction: column;
			list-style: none;
		}
	}
}
