.browseCard {
	list-style: none;
	margin: 0 0.2rem;
	padding: .3rem;
	&:focus-within {
		outline: 1px solid var(--hover-color);
		border-radius: 5px;
	}

	.link {
		text-decoration: none;
		color: currentColor;
		&:hover {
			.imageSection {
				filter: brightness(1.1);
			}
			.buttonContainer {
				opacity: 1;
			}
		}
		.imageSection {
			position: relative;
			transition: all 0.3s;
			.image {
				source,
				img {
					border-radius: 5px;
					height: 55vw;
					max-height: 450px;
					width: 100%;
					object-fit: cover;
					@media (width >= 768px) {
						max-height: 250px;
					}
				}
			}
		}
	}
	.buttonContainer {
		height: 45px;
		width: 45px;
		position: absolute;
		top: 2px;
		right: 2px;
		opacity: 0;
		&:focus-within {
			opacity: 1;
		}
	}
	.info {
		font-weight: 700;
	}
}

@media (width >= 768px) {
	.browseCard {
		.link {
			.imageSection {
				.image {
					source,
					img {
						max-height: 250px;
					}
				}
			}
		}
	}
}
