@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

:root {
	--black-color: #181818;
	--grey-color: #2a2a2a;
	--blue-color: #0074e4;
	--blue-hover: #055bac;
	--font-color: #ccc;
	--font-white: #fff;
	--hover-color: #fff;
	--border-color: #333;
}

:focus-visible {
	outline: 1px solid white;
	border-radius: 5px;
}

html {
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
	scroll-behavior: smooth;
}

body {
	max-height: 100vh;
	background-color: var(--black-color);
	color: var(--font-color);
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.5;
	overflow-x: hidden;
}

main {
	position: relative;
}

h1 {
	margin-top: 1rem;
	position: relative;
}
h2 {
        font-weight: 400;
		font-size: 2.4rem;
    }

.swiper-pagination {
	position: relative;
	margin-top: 1rem;

	.swiper-pagination-bullet {
		height: 5px;
		width: 5px;
		margin-inline: 5px !important;
		background-color: white;
		opacity: 0.3;
	}
	.swiper-pagination-bullet-active {
		background-color: white;
		opacity: 1;
	}
}

.thumbnails {
	justify-content: center;
}

@media (width >= 1600px) {
	body {
		font-size: 1.6rem;
	}
}
