.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5000;
	background-color: rgba(0, 0, 0, 0.75);
}
.modal {
	position: absolute;
	top: 0;
	left: 0;
	height: 90vh;
	width: 100%;
	color: var(--black-color);
	background-color: #fff;
	z-index: 10000;
	// overflow-y: hidden;
	display: flex;
	flex-direction: column;
	& > * {
		padding: 0 1rem;
	}
	.label {
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #f2f2f2;
		.labelTitle {
			display: flex;
			align-items: center;
			width: 50%;
			height: 100%;
			text-transform: uppercase;
			font-weight: 700;
			border-bottom: 3px solid var(--blue-color);
		}
		.profile {
			height: 2rem;
			display: flex;
			align-items: end;
			gap: 1rem;
			color: var(--blue-color);
			text-transform: uppercase;
			font-size: 1rem;
			.icon {
				font-size: 1.6rem;
				margin-bottom: 2px;
			}
			.closeBtn {
				margin-top: auto;
				padding: 0.5rem;
				font-size: 1.4rem;
				color: var(--black-color);
				border: none;
				background-color: inherit;
				cursor: pointer;
			}
		}
	}
	.summaryLabel {
		display: flex;
		align-items: center;
		.title {
			padding: 1.5rem 0rem;
			text-transform: uppercase;
			font-weight: 700;
		}
		.closeBtn {
			display: none;
		}
	}
	.mainContent {
		flex-grow: 2;
		height: auto;
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		overflow: auto;
		.image {
			height: 70px;
			width: 50px;
			border-radius: 5px;
			object-fit: cover;
		}
		.gameTitle {
			font-size: 1.6rem;
			font-weight: 700;
		}

		.summary {
			margin: 2rem 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			& > * {
				width: 100%;
				display: flex;
				justify-content: space-between;
			}
			.totalPrice {
				padding-top: 1rem;
				border-top: 1px solid #000;
			}
		}
		// }
	}

	.paymentMethods {
		// padding-bottom: 3rem;
		margin: 1.5rem 0;
		// overflow: auto;
		.title {
			padding: 1.5rem 0rem;
			display: flex;
			align-items: center;
			text-transform: uppercase;
			font-weight: 700;
		}
		.radio {
			display: flex;
		}

		input {
			height: 20px;
			width: 20px;
			cursor: pointer;
			&:focus {
				outline: none;
			}
		}
	}
	.paymentAction {
		height: auto;
		padding: 2rem;

		border-top: 4px solid #f2f2f2;
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: 0;
		background-color: #fff;
		.eula {
			padding-bottom: 1rem;
			color: var(--black-color);
			font-size: 1.2rem;
			line-height: 1.4rem;
		}
		.buttonContainer {
			margin-inline: auto;
			max-width: 360px;
			&:focus {
				border: 1px solid white;
				opacity: 0.8;
			}
		}
	}

	.cartList,
	.paymentList {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.listItem {
		padding: 1rem 2.5rem;
		display: flex;
		align-items: center;
		min-height: 60px;
		gap: 1.5rem;
		background-color: #f2f2f2;
		border-radius: 5px;
		&:focus {
			border: 1px solid black;
		}
	}

	.closeBtn {
		padding: 0.5rem;
		font-size: 1.4rem;
		color: var(--black-color);
		border: none;
		background-color: inherit;
		cursor: pointer;
		&:hover {
			color: black;
			transform: scale(1.05);
		}
		&:focus {
			transform: scale(1.05);
			border: 1px solid black;
		}
	}

	.dialog {
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 3rem;
		display: grid;
		grid-gap: 3rem;
		text-align: center;
		height: auto;
		width: 360px;
		z-index: 15000;
	}
}

// MEDIA QUERIES
@media (height >=960px) and (width >=768px) {
	.modal {
		height: 95vh;
		margin-top: 2.5vh;
		border: 2px solid var(--border-color);
	}
}

@media (height >=1200px) and (width >=768px) {
	.modal {
		height: 80vh;
		margin-top: 10vh;
	}
}

@media (width >= 768px) {
	.modal {
		position: absolute;
		padding-left: 1rem;
		top: 0;
		left: 0;
		max-width: 1200px;
		display: grid;
		grid-template-rows: max-content auto 1fr;
		grid-template-columns: 1.8fr 1fr;
		// overflow-y: hidden;
		.label {
			grid-column: 1/2;
			.closeBtn {
				display: none;
			}
		}
		.summaryLabel,
		.mainContent,
		.paymentAction {
			background-color: #f2f2f2;
		}
		.summaryLabel {
			display: flex;
			justify-content: space-between;
			.closeBtn {
				display: block;
			}
		}
		.mainContent {
			grid-column: 2/3;
			height: auto;
			max-height: 887px;
			overflow-y: auto;
			.cartList {
				gap: 0;
				.image {
					height: 90px;
					width: 70px;
				}
			}
		}
		.paymentMethods {
			grid-row: 2/4;
		}
		.paymentAction {
			grid-row: 3/-1;
			grid-column: 2/3;
		}
		.listItem {
			padding: 0.5rem 1rem;
		}
	}
}

@media (width > 1200px) {
	.modal {
		margin-inline: calc((100vw - 1200px) / 2);
		.mainContent {
			.cartList {
				.image {
					height: 120px;
					width: 90px;
				}
			}
		}
	}
}
